@tailwind base;
@tailwind components;
@tailwind utilities;

.hash-link::before {
  content: "#";
  margin-right: 2px;
  color: #4455ff;
  text-decoration-color: #4455ff;
  text-decoration: none !important;
}

.hashlink {
  text-decoration: none;
}
